<div class="col-12 col-lg-4 my-2">
    <div class="card border-light" style="width: 18rem;">
        <img src="/img/{{this}}.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title text-center">{{this}}</h5>
            <a onclick="agregar({{this}})" class="btn btn-primary d-flex justify-content-center" id="agregarCarro">Agregar al Carrito</a>
        </div>
    </div>
</div>